@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;500;700&display=swap');

header h1 {
    padding-left: 60px;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

main {
    font-family: 'Poppins', sans-serif;
}

/* --------------
     cmaera section 
-----------------*/
.container0 {
    height: 600px;
}

.camera {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 80px;
    justify-content: center;
}

.camera-info {
    padding-left: 60px;
}

.camera-info h1 {
    font-weight: 700;
    font-size: 42px;
}

.camera-info p {
    font-weight: 600;
    font-size: 16px;
}

.link1 {
    width: 100px;
    padding: 10px 40px;
    background-image: linear-gradient(rgb(71, 28, 119), rgb(41, 130, 182));
    border-radius: 16px;
    text-decoration: none;
    margin-top: 20px;
    font-weight: 800;
    font-size: 18px;
    color: white;
}

.fa-solid {
    padding-left: 8px;
}

.camera-pic {
    margin-left: 120px;
    height: 500px;

}

.cam img {
    width: 400px;
    height: 374px;
    position: relative;
    top: 30px;
    z-index: 2;
}

.svg img {
    width: 400px;
    height: 374px;
    position: relative;
    top: -350px;
    z-index: 1;
}

/* --------------------------------------------
------------------------popular collections----------------------------
----------------------------------------------- */

.container {
    display: flex;
    justify-content: center;
}

.king {
    display: flex;
    width: 1150px;
    border-radius: 10px;
    flex-direction: column;
    box-shadow: 5px 5px 20px rgba(45, 26, 131, 0.637);
}

.king h1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 37px;
    padding-left: 37px;
    padding-right: 37px;
    padding-bottom: 37px;
}

.item {
    width: 300px;
    display: flex;
    border-radius: 7px;
    flex-direction: column;
    padding: 15px;
    box-shadow: 5px 5px 10px rgba(45, 26, 131, 0.637);
}


.boro {
    border-radius: 10px;
    height: 256px;
    overflow: hidden;
}

.pic:hover .boro img {

    transform: scale(1.3);
    transition: transform 1s ease-in-out;

}

.stars>.fa-star.rate {
    display: flex;
}


.fa-star.filled {
    color: #FFC014;
    font-size: 12px;
    padding: 0;
}

.fa-star.empty {
    color: rgb(122, 141, 148);
    font-size: 12px;
    padding: 0;
}

/* -----------------------------------------------------------------------
-------------------------------grear--------------------------------------
-------------------------------------------------------------------------- */

.container2 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.extra1 {
    width: 1150px;
    height: 360px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(45, 26, 131, 0.637);
    overflow: hidden;
}

.extra1:hover .extra>.img img {
    transform: scale(1.2);
    transition: transform 1s ease-in-out;
}

.extra {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 80px;
    height: 300px;
    border-radius: 10px;
    padding: 30px;
    overflow: hidden;
}

.img {
    height: 300px;
    width: 400px;
    overflow: hidden;
    border-radius: 10px;
}

.img img {
    height: 300px;
    width: 400px;
}

.write {
    padding-top: 30.75px;
    padding-bottom: 30.75px;
    padding-right: 40px;
}

.write h1 {
    margin-top: 0;
    font-weight: 700;
    font-size: 30px;
}

.foot {
    height: auto;
    background-color: rgb(14, 14, 58);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5rem;
}

.foot h1 {
    font-weight: 700;
    font-size: 24px;
    color: aliceblue;

}

.foot p {
    font-weight: 700;
    font-size: 14px;
    color: aliceblue;

}

.foot>.small p {
    font-weight: 700;
    font-size: 14px;
    color: aliceblue;

}

.socials {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 3rem 0;
    padding-left: 0px;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
}


.socials li i {
    font-size: 20px;
    color: aliceblue;
    transition: transform .5s ease;
}

li:hover i {
    transform: scale(1.5);
    color: rgb(113, 192, 216);
}

/* -------------------------------------------------------------------------------------------------------------------------
                                        for mobile and pads                                                           
- =-------------------------------------------------------------------------------------------------------------------- */

@media only screen and (min-width: 360px) and (max-width: 668px) {
    header h1 {
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }


    .container0 {
        width: 100%;
        height: 900px;
    }

    .camera {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .camera-info {
        padding-left: 0px;
    }

    .camera-pic {
        margin-left: 0px;
    }

    .container {
        width: 100%;
    }

    .king {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }

    .items {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }

    .item {
        width: 80%;
    }

    .container2 {
        width: 100%;
    }

    .extra1 {
        width: auto;
        height: auto;
    }

    .extra {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 10px;
        padding-top: 15px;
    }

    .img {
        width: 290px;
    }

    .foot {
        width: 100%;
    }
}